* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 19.375rem;
  height: 31.875rem;

  border: 5px solid #302c22;
  border-radius: .125rem;

  overflow-y: scroll;
}

.content {
  width: 100%;
  position: relative;
  
}

.content li {
  height: 3.125rem;
  color: rgb(48, 44, 34);;
  font-weight: bold;
  border: 1px solid rgba(105, 85, 12, 0.8);
  background-color: rgba(206, 170, 4, 0.8);
}

::-webkit-scrollbar {
  display: none;
}